@using PromovArte.Models
@{
    ViewBag.Title = "DetalleArtista";
}
    <h1>@ViewBag.Artista.NombreUsuario</h1>
    <img src="~/Content/@ViewBag.Artista.Foto" style="width:200px" />
    <br>
    <p>@ViewBag.Artista.Descripcion</p>

@foreach (Evento evento in ViewBag.MisPublicaciones)
{
    <a href='@Url.Action("DetalleEvento", "Home", new { IdEvento = evento.IdEvento })'>@evento.Titulo <img src="~/Content/@evento.NombreImagen" style="width:100px" alt=""> </a>
}

    <a href='@Url.Action("Index","Home")' title="Index " target="blank"> Ir al Index </a>



