@using PromovArte.Models

@{
    <!doctype html>
    <html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PromovArte</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->
        <!-- CSS here -->
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Content/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/themify-icons.css">
        <link rel="stylesheet" href="~/Content/nice-select.css">
        <link rel="stylesheet" href="~/Content/flaticon.css">
        <link rel="stylesheet" href="~/Content/animate.css">
        <link rel="stylesheet" href="~/Content/slicknav.css">
        <link rel="stylesheet" href="~/Content/style.css">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </head>
    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->
        <!-- header-start -->
        <header>
            <div class="header-area ">
                <div class="header_top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-md-4 d-none d-md-block">
                                <div class="header_links ">
                                    
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-none d-md-block">
                                <div class="login_resiter">
                                    <p><a href="@Url.Action("Login", "BackOffice")">Acceder</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sticky-header" class="main-header-area white-bg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                                            <li>
                                                <a href="#">Categorías</a>
                                                <ul class="submenu">

                                                    @foreach (TipoEvento TE in ViewBag.ListaTipo)
                                                    {
                                                        <li><a href='@Url.Action("ListadoEventos", "Home", new { IdTipoEvento = TE.IdTipoEvento })'> @TE.Nombre </a></li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="get_serch">
                                    <a id="search_1" href="javascript:void(0)"></a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- welcome_protomedia_start -->
        <div class="welcome_protomedia">
            <div class="container">
                <div class="row">
                    <!--<div class="col-xl-6 col-md-6"> -->
                        <h3>
                            Bienvenido a PromovArte, tu sitio de noticias artísticas
                        </h3>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- welcome_protomedia_end -->

        <!-- photographi_area_start -->
        <div class="photographi_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="single_photography photography_bg_1">
                            <div class="info">
                                <img src="~/Content/@ViewBag.EvDest.NombreImagen" style="width:540px; height:380px" ; />
                                <div class="info_inner">
                                    <h3>
                                        <a href="#">
                                            Evento Destacado: <br>
                                            @ViewBag.EvDest.Titulo
                                        </a>
                                    </h3>
                                    <div class="date_catagory d-flex align-items-center justify-content-between">
                                        <span>@ViewBag.EvDest.Fecha</span>
                                        <a href="@Url.Action("DetalleEvento", "Home", new { IdEvento = ViewBag.EvDest.IdEvento })" class="catagory">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="single_photography photography_bg_2">
                            <div class="info">
                                <img src="~/Content/@ViewBag.ArtDest.NombreFoto" style="width:540px; height:380px" ; />
                                <div class="info_inner">
                                    <h3>
                                        <a href="#">
                                            Artista Destacado:<br>
                                            @ViewBag.ArtDest.NombreUsuario
                                        </a>
                                    </h3>
                                    <div class="date_catagory d-flex align-items-center justify-content-between">
                                        <span>@ViewBag.ArtDest.Descripcion</span>
                                        <a href="@Url.Action("DetalleArtista", "Home", new { IdArtista = ViewBag.ArtDest.IdArtista})" class="catagory">Ver Perfil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- photographi_area_end -->

        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <!--contact js-->
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
}