@using PromovArte.Models
@model Evento
@{
    ViewBag.Title = "BackOffice";
}

<h2>BackOffice</h2>
@ViewBag.Error
@using (Html.BeginForm("GrabarEvento", "BackOffice", new { Accion = ViewBag.Accion }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Tipo de evento</p> <br />
    @Html.HiddenFor(model => model.IdEvento)
    <p>Imagen</p> <br />
    @Html.HiddenFor(model => model.NombreImagen)
    <p>Titulo del evento</p> <br />
    @Html.DropDownListFor(model => model.Tipo, new SelectList(ViewBag.Tipos, "IdTipoEvento", "Nombre"))
    @Html.TextBoxFor(model => model.Titulo) @Html.ValidationMessageFor(model => model.Titulo)
    @Html.TextBoxFor(model => model.Foto, new { type = "file" })@Html.ValidationMessageFor(model => model.Foto)
    <p>Descripción del evento</p> <br />
    @Html.TextBoxFor(model => model.Descripcion) @Html.ValidationMessageFor(model => model.Descripcion)
    @Html.CheckBoxFor(model => model.Destacado)
    @Html.TextBoxFor(model => model.Fecha) @Html.ValidationMessageFor(model => model.Fecha)
    <input type="submit" value="Grabar" />
}