@using PromovArte.Models
@{
    ViewBag.Title = "BackOffice";
}

<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/slicknav.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-md-4 d-none d-md-block">
                        <div class="header_links ">

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 d-none d-md-block">
                        <div class="login_resiter">
                            <p><a href="@Url.Action("Login", "BackOffice")">Desloguear</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area white-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                                    <li>
                                        <a href="#">Categorías</a>
                                        <ul class="submenu">

                                            @foreach (TipoEvento TE in ViewBag.ListaTipo)
                                            {
                                                <li><a href='@Url.Action("ListadoEventos", "Home", new { IdTipoEvento = TE.IdTipoEvento })'> @TE.Nombre </a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="get_serch">
                            <a id="search_1" href="javascript:void(0)"></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<br />
<br />
<div class="welcome_protomedia2">
    <h1>Bienvenido a tu información</h1>
</div>
<h3>¿Qué desea hacer?</h3>

@Html.ActionLink("- Crear un evento", "ModificarCrearEvento", "BackOffice", new { Accion = "I", IdEvento = -1 }, null) <br />
@Html.ActionLink("- Ver mi perfil", "ModificarCrearArtista", "BackOffice", new { Accion = "x", IdArtista = ViewBag.Id }, null)
<br />
<br />
<br />
<h1>Tus eventos</h1>
@foreach (Evento unEvento in ViewBag.eventos)
{
    <h4>@unEvento.Titulo</h4>
    <img src="~/Content/@unEvento.NombreImagen" height="50">
    <br />
    if (unEvento.Destacado == true)
    {
        <p>Destacada</p>
    }
    if (unEvento.Destacado == false)
    {
        <p>No destacada</p>
    }
    if (Convert.ToInt32(Session["Artista"]) == unEvento.Artista)
    {<a target="_blank " href='@Url.Action("DestacarEvento", "BackOffice", new { IdEvento = unEvento.IdEvento })'>Destacar</a>
        <a target="_blank " href='@Url.Action("BorrarEvento", "BackOffice", new { IdEvento = unEvento.IdEvento })'>Borrar</a>
        <a target="_blank " href='@Url.Action("ModificarCrearEvento", "BackOffice", new { Accion = "E", IdEvento = unEvento.IdEvento })'>Editar</a>

    }

}