@using PromovArte.Models
@{
    ViewBag.Title = "BackOffice";
}
<p>¿Qué desea hacer?</p>

@Html.ActionLink("Crear un evento", "ModificarCrearEvento", "BackOffice", new { Accion = "I", IdEvento = -1 }, null)
@Html.ActionLink("Mi perfil", "ModificarCrearArtista", "BackOffice", new { Accion = "i", IdArtista = ViewBag.Id }, null)


<h3>Tus eventos</h3>

@foreach (Evento unEvento in ViewBag.eventos)
{

    <h4>@unEvento.Titulo</h4>
    <img src="~/Content/@unEvento.NombreImagen" height="50">
    <br />
    if (unEvento.Destacado == true)
    {
        <p>Destacada</p>
    }
    if (unEvento.Destacado == false)
    {
        <p>No destacada</p>
    }
    if (Convert.ToInt32(Session["Artista"]) == unEvento.Artista)
    {<a target="_blank " href='@Url.Action("DestacarEvento", "BackOffice", new { IdEvento = unEvento.IdEvento })'>Destacar</a>
        <a target="_blank " href='@Url.Action("BorrarEvento", "BackOffice", new { IdEvento = unEvento.IdEvento })'>Borrar</a>
        <a target="_blank " href='@Url.Action("ModificarCrearEvento", "BackOffice", new { Accion = "E", IdEvento = unEvento.IdEvento })'>Editar</a>

    }

}