@using PromovArte.Models
@model Artista

@{
    ViewBag.Title = "Login";
}

<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/slicknav.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-md-4 d-none d-md-block">
                        <div class="header_links ">

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area white-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="get_serch">
                            <a id="search_1" href="javascript:void(0)"></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

@ViewBag.Error
@using (Html.BeginForm("LoginUsuario", "BackOffice", FormMethod.Post))
{
    <br />
    <br />

    <p>Nombre de usuario:</p> @Html.TextBoxFor(model => model.NombreUsuario) @Html.ValidationMessageFor(model => model.NombreUsuario) <br />
    <br />
    <br />
    <p>Contraseña:</p> @Html.PasswordFor(model => model.Contraseña) @Html.ValidationMessageFor(model => model.Contraseña)<br />
    <br />
    <br />
    <input type="submit" value="Iniciar Sesion" />
}

